<article class="content-entry">
    <div class="article-title views-field views-field-title"><a href="#">{{ label.0 }}</a></div>
    <div class="accordion-content">
        {{ content }}
    </div>
</article>
