/*purpose*/

.priorities{
    margin-bottom: 10px;

    .icon-priorities{
        figure{
            margin-bottom: 1.5em;
            
            img{
                width: 60px;
            }
        }

        .h4{
            margin-bottom: .5em;
            
        }
    }
}
