{% block content %}
  {% if content %}
  <div class="container data-scroll-section">
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
    </div>
  {% endif %}
{% endblock %}
