{% extends "paragraph.html.twig" %}
{% block content %}
  {% set paragraph_parent = paragraph.getParentEntity() %}
  {% set backgroundValue = paragraph_parent.field_background.0.value %}
  {% set colorClass = "fc-purple" %}
  {% if '1' in backgroundValue %}
    {% set colorClass = "fc-white" %}
  {% endif %}
  <div class="contentBlock scroll">
    {% if content.field_icon %}
       <div class="mb-3 mb-md-5">
        {{ content.field_icon[0] }}
        </div>
    {% endif %}
    {% if content.field_title|render|striptags|trim %}
      <span class="h3 d-block {{ colorClass }}  mb-3">{{ content.field_title }}</span>
    {% endif %}
    {{ content|without('field_title', 'field_icon') }}
  </div>
{% endblock %}
