 <div class="container">
  <div class="organizational border-bottom">
    <div class="row">
      <div class="col-md-12">
        <div class=" justify-content-sm-center g-padding-y2">
          <div class="embed-responsive embed-responsive-16by9">
            {{ content.field_video_upload.0 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
