<div class="container">
  <div class="g-padding-y pb-0">
    <div class="boards">
      <div class="row justify-content-center">
        {{ content.field_card }}
      </div>
    </div>
  </div>
</div>
